<!doctype html>

<html>
<head>
	<title>Lunch and Learn</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">	
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="/node_modules/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/styling.css" rel="stylesheet">
	<link rel="shortcut icon" type="image/x-icon" href="/images/icon.png" />
</head>
    
<body>
    <!--<div class="navbar" id="navbar">

	</div>-->
	<div class="container">
		<center>
		<div>
			<h1>Lunch and Learn</h1>
			<p>Let your suggestions be heard</p>
		</div>
		</center>
		<center>
			<ol>
	      		<ul>
	      			<input type="button" class="button" value='Add a Catering Option' id='add_catering_option' />
	      		</ul>
	      		<ul>
	      			<input type="button" class="button" value='View Catering Options' 
                           id='view_catering_options' />
				</ul>
	      		<ul>
	      			<input type="button" class="button" value='Add a Topic' 
                           id='add_topic' />
	      		</ul>
                <ul>
	      			<input type="button" class="button" value='View Topics' 
                           id='view_topics' />
	      		</ul>
	    	</ol>
	    </center>
	</div>
    
    <script src="https://code.jquery.com/jquery.js"></script>
	<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>