<!doctype html>

<html>
<head>
	<title>Lunch and Learn</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">	
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="/node_modules/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/styling.css" rel="stylesheet">
	<link rel="shortcut icon" type="image/x-icon" href="/images/icon.png" />
</head>
    
<body>
    <!--<div class="navbar" id="navbar">

	</div>-->
    <div class="container">
        <center>
        <div>
            <h1>Topics</h1>
        </div>
        </center>
    </div>
    
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>